.menu {
  display: flex;
  justify-content: space-around;
  border: 1px solid black; }
  .menu a {
    display: flex;
    justify-content: center;
    width: 20%;
    border: 1px dotted black; }

.content {
  display: flex;
  min-height: 400px; }
  .content .topicMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    min-width: 15%; }
  .content .view {
    width: 85%;
    border: 1px solid black;
    padding: 5px; }

a {
  text-decoration: none;
  color: black; }

.viewContainer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.itemContainer {
  width: 100%; }
  .itemContainer .item {
    border: 1px dotted black; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
