<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="viewContainer">

    <h2>Topic:{{ topic.topic }}</h2>
    created: {{ topic.createdAt }}
    By: {{ topic.User.name }}


    <div class="messages" ng-repeat="message in messages">
      {{message.User.name}}: {{ message.body }}  on {{ message.createdAt }}

    </div>

    <div ng-show="isSignedIn" class="form">
      <input type="text" ng-model="message">
      <br />
      <button type="button" ng-click="handleMessagePost( message )">Post</button>
    </div>

  </div>

</body>
</html>